<header class="site-header">
	<div class="branding">
		{% if site.theme_settings.gravatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" style="width: 64px; height: 64px;" src="https://secure.gravatar.com/avatar/{{ site.theme_settings.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme_settings.avatar %}
		<a href="{{ site.baseurl }}/">
			<img class="avatar" style="width: 64px; height: 64px;" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title" style="margin:13px 0">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
		<nav class="site-nav">
				<ul>
					{% for page in site.pages %}
						{% if (page.title == 'About' or page.title =='tags') and page.hide != true %}
							<li>
								<a class="page-link" href="{{ page.url | relative_url }}">
									{{ page.title }}
								</a>
							</li>
						{% endif %}
					{% endfor %}

					<!-- Search bar -->
					{% if site.theme_settings.search %}
					<li>
					<form action="{{ site.baseurl }}/search.html" method="get">
						<input type="text" id="search-box" name="query" placeholder="Search" class="">
						<button type="submit" class="">
							<i class="fa fa-fw fa-search"></i>
						</button>
					</form>
					</li>
					{% endif %}
				</ul>
		</nav>
	</div>
	<div class="site-category">
		<ul class='cat1'>
			<li><a href="/">Home</a></li>
			<li><a href="/">Language</a>
				<ul>
					<li><a href="/LANG/Java">Java</a></li>
					<li><a href="/LANG/Kotlin">Kotlin</a></li>
				</ul>
			</li>
			<li><a href="/">Web/Front</a>
				<ul>
					<li><a href="/WEB_FRONT/HTML">HTML</a></li>
					<li><a href="/WEB_FRONT/CSS">CSS</a></li>
					<li><a href="/WEB_FRONT/Javascript">Javascript</a></li>
					<li><a href="/WEB_FRONT/JQuery">JQuery</a></li>
				</ul>
			</li>
			<li><a href="/">Web/Back</a>
				<ul>
					<li><a href="/WEB_BACK/Servlet">Servlet</a></li>
					<li><a href="/WEB_BACK/JSP">JSP</a></li>
					<li><a href="/WEB_BACK/Spring">Spring</a></li>
					<li><a href="/WEB_BACK/SpringBoot">SpringBoot</a></li>
				</ul>
			</li>
			<li><a href="/">Mobile</a>
				<ul>
					<li><a href="/MOBILE/Android">Android</a></li>
				</ul>
			</li>
			<li><a href="/">DataBase</a>
				<ul>
					<li><a href="/DB/MySQL">MySQL</a></li>
					<li><a href="/DB/MariaDB">MariaDB</a></li>
					<li><a href="/DB/ORACLE">ORACLE</a></li>
				</ul>
			</li>

			<li><a href="/">Tool</a>
				<ul>
					  <li><a href="/Tool/Eclipse">Eclipse</a></li>
					  <li><a href="/Tool/VSCode">VSCode</a></li>
					  <li><a href="/Tool/DBeaver">DBeaver</a></li>
					  <li><a href="/Tool/AndroidStudio">AndroidStudio</a></li>
				</ul>
			</li>
			<li><a href="/">ETC</a>
				<ul>
					<li><a href="/ETC/Term">용어</a></li>
					<li><a href="/ETC/Rasiberry">라즈베리파이</a></li>
					<li><a href="/ETC/Git">Git</a></li>
					<li><a href="/ETC/Linux">Linux</a></li>
				</li>
			</li>

		</ul>
	</div>

</header>

